{% extends "dashboard.html" %}

{% block content %}
{% if order.status %}
    <h4><b class="text-success">成功</b></h4>
{% else %}
    <h3><b class="text-danger">取消</b></h3>
{% endif %}
{% for item in items  %}
<div class="bg-light rounded border-bottom p-3">
    <p>商品:<a class="text-decoration-none" href="{{ item.product.get_absolute_url }}"> {{item.product.title}}</a></p>
    <p>价格: ¥{{item.price}}</p>
    <p>数量: {{item.quantity}}</p>
    {% for address in addresses %}
        <p>收货地址: {{ address.name }} - {{ address.phone_number }} - {{ address.state_province }} - {{ address.city }} - {{ address.address_line1 }} - {{ address.address_line2 }}</p>
    {% empty %}
    <!-- 当my_list为空时显示的内容 -->
    {% endfor %}
</div>
{% endfor %}
<h4 class="border-top pt-2 text-muted">总价格: ¥{{ order.get_total_price }}</h4>

{% endblock %}