{% extends "dashboard.html" %}

{% block content %}

<table class="table table-striped ">
    <thead class="text-muted">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">标题</th>
            <th scope="col">价格</th>
            <th scope="col">分类</th>
            <th scope="col">时间</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a class="text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
        <td>¥{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.date_created|date:"M d" }}</td>
        <td><a class="text-danger text-decoration-none" href="{% url 'dashboard:delete_product' product.id %}">删除</a></td>
        <td><a class="text-info text-decoration-none" href="{% url 'dashboard:edit_product' product.id %}">修改</a></td>
      </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}